@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1:not([class]),
h2:not([class]) {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

body {
    font-family: 'Atkinson Hyperlegible';
    color: #333;
}

.grid .cell:last-child{
    margin-bottom: var(--bulma-block-spacing);
}