{% extends "base.html" %}
{% from "_hero.html" import render_hero %}

{% block content %}

  {{ render_hero(entity.uri, "Entity information and formats", "entity", base_url) }}

  <section class="section">
    <a class="button block" href="{{ base_url }}entities.html">
      <span class="icon">
        <ion-icon aria-hidden="true" name="arrow-back-outline"></ion-icon>
      </span>
      <span>Back to index</span>
    </a>

    <div class="fixed-grid has-1-cols has-2-cols-desktop">
      <div class="grid">
        <div class="cell">
          <h2 class="title is-2">Entity information</h2>
          <div class="block">
            <ion-icon aria-hidden="true" name="cube-outline"></ion-icon>
            <strong>Is a:</strong>
              {% for type in entity.types %}
              <a href="{{ type }}" target="_blank">
                {{ type }}
              </a>
              {% endfor %}
          </div>

          {% if property_object_pairs %}
          <div class="card cell content">
            <div class="card-content">
          <h3 class="title is-3">Is subject of</h3>
              <table class="table is-hoverable is-fullwidth">
                <thead>
                  <tr>
                    <th>Subject</th>
                    <th>Property</th>
                    <th>Object</th>
                  </tr>
                </thead>
                <tbody>
                  {% for pair in property_object_pairs %}
                  <tr>
                    <td>
                      This
                    </td>
                    <td>
                      <a href="{{ pair.property_uri }}" target="_blank">
                        {{ pair.property_label }}
                        <ion-icon aria-hidden="true" name="open-outline"></ion-icon>
                      </a>
                    </td>
                    <td>
                      {% if pair.is_literal %}
                        {{ pair.value }}
                      {% else %}
                        {% if pair.is_internal %}
                          <a href="{{ pair.internal_href }}.html">
                            {{ pair.value }}
                            <ion-icon aria-hidden="true" name="arrow-forward-circle-outline"></ion-icon>
                          </a>
                        {% else %}
                          <a href="{{ pair.value }}" target="_blank" rel="noopener">
                            {{ pair.value }}
                            <ion-icon aria-hidden="true" name="open-outline"></ion-icon>
                          </a>
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}

          {% if subject_property_pairs %}
          <div class="card cell content">
            <div class="card-content">
          <h3 class="title is-3">Is object of</h3>
          <table class="table is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>Subject</th>
                <th>Property</th>
                <th>Object</th>
              </tr>
            </thead>
            <tbody>
              {% for pair in subject_property_pairs %}
              <tr>
                <td>
                  {% if pair.is_internal %}
                    <a href="{{ pair.internal_href }}.html">
                      {{ pair.value }}
                      <ion-icon aria-hidden="true" name="arrow-forward-circle-outline"></ion-icon>
                    </a>
                  {% else %}
                    <a href="{{ pair.value }}" target="_blank" rel="noopener">
                      {{ pair.value }}
                      <ion-icon aria-hidden="true" name="open-outline"></ion-icon>
                    </a>
                  {% endif %}
                </td>
                <td>
                  <a href="{{ pair.property_uri }}" target="_blank">
                    {{ pair.property_label }}
                    <ion-icon aria-hidden="true" name="open-outline"></ion-icon>
                  </a>
                </td>
                <td>
                  This
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
          </div>
          {% endif %}

          <div class="card cell content">
            <div class="card-content">
          <h3 class="title is-3">Data formats</h3>
          <div class="field is-grouped is-grouped-multiline block">
            <div class="control">
              <a class="tags has-addons is-hoverable" href="{{ base_path }}{{filename}}.ttl">
                <span class="tag is-dark">
                  Format
                </span>
                <span class="tag is-primary">
                  Turtle
                </span>
              </a>
            </div>
            <div class="control">
              <a class="tags has-addons is-hoverable" href="{{ base_path }}{{filename}}.nt">
                <span class="tag is-dark">
                  Format
                </span>
                <span class="tag is-primary">
                  N-Triples
                </span>
              </a>
            </div>
            <div class="control">
              <a class="tags has-addons is-hoverable" href="{{ base_path }}{{filename}}.jsonld">
                <span class="tag is-dark">
                  Format
                </span>
                <span class="tag is-primary">
                  JSON-LD
                </span>
              </a>
            </div>
            <div class="control">
              <a class="tags has-addons is-hoverable" href="{{ base_path }}{{filename}}.xml">
                <span class="tag is-dark">
                  Format
                </span>
                <span class="tag is-primary">
                  RDF/XML
                </span>
              </a>
            </div>
          </div>
        </div>
        </div>
        </div>

        <div class="cell content graph-cell">
          <div id="graph" role="img" aria-label="Network graph of this entity and its directly connected entities. The same relations are listed in the tables."></div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <script>
    const graphData = {{ graph_data | tojson }};
    const options = {{ graph_options | tojson }};
    const container = document.getElementById('graph');
    new vis.Network(container, graphData, options);
  </script>

{% endblock %}