<footer class="footer">
  <div class="content has-text-centered">
    <div class="columns">
      <div class="column">
        <h4>
          SPUK by <a href="https://sbrzt.netlify.app" target="_blank">Sebastian Barzaghi</a>
        </h4>
        <a href="https://orcid.org/my-orcid?orcid=0000-0002-0799-1527" class="button">
          <span class="icon">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </span>
          <span>ORCID</span>
        </a>
        <a href="https://it.linkedin.com/in/sebastian-barzaghi" class="button">
          <span class="icon">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </span>
          <span>LinkedIn</span>
        </a>
        <a href="https://mastodon.social/@se_ba" class="button">
          <span class="icon">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </span>
          <span>Mastodon</span>
        </a>
      </div>
      <div class="column">
        <h4>
          Contribute on GitHub
        </h4>
        <iframe src="https://ghbtns.com/github-btn.html?user=sbrzt&repo=spuk&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=sbrzt&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="170px" height="30px"></iframe>
      </div>
      <div class="column">
        <h4>
          Share on social media
        </h4>
        <a href="https://it.linkedin.com/in/share" class="button">
          <span class="icon">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </span>
          <span>LinkedIn</span>
        </a>
        <a href="https://mastodon.social/share" class="button">
          <span class="icon">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </span>
          <span>Mastodon</span>
        </a>
        <a href="https://bsky.app/share" class="button">
          <span class="icon">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </span>
          <span>Bluesky</span>
        </a>
      </div>
    </div>
    <p>
      The source code is licensed under a 
      <a href="https://opensource.org/license/mit">MIT license</a>.
    </p>
    <p>
      The website content is licensed
      <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
    </p>
  </div>
</footer>