{% extends "base.html" %}
{% from "_hero.html" import render_hero %}

  {% block content %}

  {{ render_hero("Overview", "Dataset information and statistics", "index", base_url) }}

  <section class="section">
    <div class="grid">
      {% for card in cards %}
      <div class="box cell">
        <p class="title is-2 mb-1">{{ "{:,}".format(card.value) }}</p>
        <p class="is-size-6 has-text-grey-dark">{{ card.label }}</p>
      </div>
      {% endfor %}
    </div>

    <div class="fixed-grid has-1-cols has-2-cols-desktop">
      <div class="grid">
        {% for chart in charts %}
        <div class="card cell content">
            <div class="card-content">
                <canvas id="chart-{{ loop.index0 }}" role="img" width="400" height="200" style="background-color: rgb(255, 255, 255);"></canvas>
            </div>
            <footer class="card-footer">
                <a id="download-chart-{{ loop.index0 }}" href="#" aria-label="Download {{ chart.title }} chart as PNG" class="card-footer-item" download="{{ chart.title | lower | replace(' ', '-') }}.png">Download</a>
            </footer>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <script>
    window.INDEX_CHARTS = {{ charts | tojson }};
  </script>

  {% endblock %}
