{% extends "base.html" %}
  
  {% block content %}
  
  <section class="hero is-large is-info">
    <div class="hero-body">
      <p class="title">Overview</p>
      <p class="subtitle">Dataset information and statistics</p>
    </div>
  </section>

  <section class="section">
    <div class="grid">
      <div class="box cell content is-large">
        <p>Triples: {{ stats.total_triples }}</p>
      </div>
      <div class="box cell content is-large">
        <p>Entities: {{ stats.unique_entities|length }}</p>
      </div>
      <div class="box cell content is-large">
        <p>Properties: {{ stats.unique_properties|length }}</p>
      </div>
      <div class="box cell content is-large">
        <p>Classes: {{ stats.unique_classes|length }}</p> 
      </div>
      <div class="box cell content is-large">
        <p>Models: {{ stats.unique_models|length }}</p>
      </div>
    </div>
    
    <div class="fixed-grid">
      <div class="grid has-2-cols">
        <div class="card cell content">
            <div class="card-content">
                <canvas id="topEntitiesChart" width="400" height="200"></canvas>
            </div>
            <footer class="card-footer">
                <a id="download-topEntitiesChart" class="card-footer-item" download="top-entities-chart.png">Download</a>
            </footer>
        </div>
        <div class="card cell content">
            <div class="card-content">
                <canvas id="topPropertiesChart" width="400" height="200"></canvas>
            </div>
            <footer class="card-footer">
                <a id="download-topPropertiesChart" class="card-footer-item" download="top-properties-chart.png">Download</a>
            </footer>
        </div>
        <div class="card cell content">
            <div class="card-content">
                <canvas id="topClassesChart" width="400" height="200"></canvas>
            </div>
            <footer class="card-footer">
                <a id="download-topClassesChart" class="card-footer-item" download="top-classes-chart.png">Download</a>
            </footer>
        </div>
        <div class="card cell content">
            <div class="card-content">
                <canvas id="topModelsChart" width="400" height="200"></canvas>
            </div>
            <footer class="card-footer">
                <a id="download-topModelsChart" class="card-footer-item" download="top-models-chart.png">Download</a>
            </footer>
        </div>
      </div>
    </div>

    {% if custom_stats %}
      {% for name, stat in custom_stats.items() %}
        {% if stat.chart %}
          <div class="card cell content">
            <div class="card-content">
                <canvas id="chart-{{ name }}" width="400" height="200"></canvas>
            </div>
            <footer class="card-footer">
                <a class="card-footer-item" download="top-properties-chart.png">Download</a>
            </footer>
          </div>
          <script>
      const ctx_{{ name }} = document.getElementById('chart-{{ name }}').getContext('2d');
      new Chart(ctx_{{ name }}, {
        type: '{{ stat.chart.type }}',
        data: {
          labels: {{ stat.data.keys()|list|tojson }},
          datasets: [{
            label: '{{ stat.label }}',
            data: {{ stat.data.values()|list|tojson }},
            backgroundColor: "rgba(54, 162, 235, 0.7)"
          }]
        },
        options: {{ stat.chart.options|default({})|tojson }}
      });
    </script>
        {% endif %}
      {% endfor %}
    {% endif %}
  </section>

  <script>
    window.topEntitiesData = {{ stats.top_entities | tojson }};
    window.topPropertiesData = {{ stats.top_properties | tojson }};
    window.topClassesData = {{ stats.top_classes | tojson }};
    window.topModelsData = {{ stats.top_models | tojson }};
  </script>

  {% endblock %}
