<div class="block">
  <nav
  class="navbar is-spaced has-shadow"
  role="navigation"
  aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ base_url }}index.html">
        <img src="{{ base_url }}img/logo.jpeg"/>
        <span class="is-large">SPUK</span>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ base_url }}entities.html">Entities</a>
      </div>

    </div>
  </nav>
</div>