{% extends "base.html" %}

  {% block content %}
  <h1 class="title">{{ subject_label }}</h1>

  <table class="table is-hoverable">
    <thead>
      <tr>
        <th>Property</th>
        <th>Object</th>
      </tr>
    </thead>
    <tbody>
      {% for triple in property_object_pairs %}
      <tr>
        <td>
          <a href="{{ triple.property_uri }}">{{ triple.property_label }}</a>
        </td>
        <td>
          {% if triple.object_uri %}
            <a href="{{ triple.object_uri }}">{{ triple.object_uri }}</a>
          {% else %}
            {{ triple.object_label }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p><a href="index.html">← Back to index</a></p>
  {% endblock %}