{% extends "base.html" %}

{% block content %}
  <a class="button block" href="/index.html">
    <span class="icon">
      <ion-icon name="arrow-back-outline"></ion-icon>
   </span>
    <span>Back to index</span>
  </a>

  <h1 class="title is-1">
    [{{ entity_uri }}]
  </h1>

  <div class="block">
    <ion-icon name="cube-outline"></ion-icon>
    <strong>Is a:</strong>
      <a href="{{ entity_type }}" target="_blank">
        {{ entity_type }}
      </a>
  </div>

  <table class="table is-hoverable">
    <thead>
      <tr>
        <th>Property</th>
        <th>Object</th>
      </tr>
    </thead>
    <tbody>
      {% for triple in property_object_pairs %}
      <tr>
        <td>
          <a href="{{ triple.property_uri }}" target="_blank">
            {{ triple.property_label }}
            <ion-icon name="open-outline"></ion-icon>
          </a>
        </td>
        <td>
          {% if triple.object_uri %}
            <a href="{{ triple.object_uri }}.html" target="_blank">
              {{ triple.object_uri }}
              <ion-icon name="open-outline"></ion-icon>
            </a>
          {% else %}
            {{ triple.object_label }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2 class="title is-2">Data formats</h2>
    <div class="field is-grouped is-grouped-multiline block">
      <div class="control">
        <a class="tags has-addons is-hoverable" href="{{ path }}.ttl">
          <span class="tag is-dark">
            Format
          </span>
          <span class="tag is-primary">
            Turtle
          </span>
        </a>
      </div>
      <div class="control">
        <a class="tags has-addons is-hoverable" href="{{ path }}.nt">
          <span class="tag is-dark">
            Format
          </span>
          <span class="tag is-primary">
            N-Triples
          </span>
        </a>
      </div>
      <div class="control">
        <a class="tags has-addons is-hoverable" href="{{ path }}.jsonld">
          <span class="tag is-dark">
            Format
          </span>
          <span class="tag is-primary">
            JSON-LD
          </span>
        </a>
      </div>
      <div class="control">
        <a class="tags has-addons is-hoverable" href="{{ path }}.xml">
          <span class="tag is-dark">
            Format
          </span>
          <span class="tag is-primary">
            RDF/XML
          </span>
        </a>
      </div>
    </div>

{% endblock %}