<footer class="footer">
  <div class="content has-text-centered">
    <div class="columns">
      <div class="column">
        <strong>SPUK</strong> by <a href="https://sbrzt.netlify.app">Sebastian Barzaghi</a>.
      </div>
      <div class="column">
        <iframe src="https://ghbtns.com/github-btn.html?user=sbrzt&repo=spuk&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
      </div>
    </div>
    <p>
      The source code is licensed
      <a href="https://opensource.org/license/mit">MIT</a>.
    </p>
    <p>
      The website content is licensed
      <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
    </p>
  </div>
</footer>