<div class="block">
  <nav
  class="navbar is-spaced has-shadow"
  role="navigation"
  aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">
        <img src="/img/logo.png"/>
        <span class="is-large">SPUK</span>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/sparql.html">SPARQL Query Interface</a>
        <a class="navbar-item" href="/documentation.html">Documentation</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a
            class="button"
            href="https://github.com/sbrzt/spuk"
            target="_blank">
              <span class="icon">
                <ion-icon
                name="logo-github"
                size="large"></ion-icon>
             </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>